@{
    ViewData["Title"] = "TechAsset Manager";
}

<div class="container mt-5">

    <div class="text-center mb-5">
        <h1 class="fw-bold" style="color: #1e3a8a">TechAsset Manager</h1>
        <p class="text-muted mb-6">
            Sistema de gestão de ativos da TechNova Solutions
        </p>
        <a asp-controller="Home"
           asp-action="Initial"
           class="btn" style="background-color: #1e3a8a; color: #fff">
            Entrar no Sistema
        </a>
    </div>

    
        
    
</div>
